<!DOCTYPE html>

<html lang = "es" >
    <head>
        <title>Cinelitas</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/home.css"/>
    </head>

    <body>

        <nav >
            <ul>
                <li ><a href="">HOME</a></li>
                <li><a href="peliculas">VER PELICULAS</a></li>    
                <li><a href="agregar">AGREGAR PELICULAS</a></li>
            </ul>
        </nav>
        <div class = "content">
            <!-- <img src="images/background.png" alt="Fondo de la página"/> -->
            <div>
                <h1> Cinelitas </h1>
                <h2>Pagina de gestion de peliculas</h2></div> 
            <p>Bienvenido a la pagina de cinelitas<br> 
                en donde podra visualizar la cartelera<br>
                asi como agregar y eliminar las peliculas.</p>
            <div>         

            </div>
        </div>

    </body>

</html>
